h1{
	color:red !important;
	background-color:black;
	font-family: 'Sedgwick Ave Display', cursive!important;;
}
h2{
	color:#75F48F!important;;
	background-color: #F1C1CF;
	font-family: 'Gloria Hallelujah', cursive!important;
	font-size: 60px;
}
body{background-color: #8C987B !important;
	text-align: center;

}

.NUMONE {

	background-color: yellow;
	padding: 30px;
	margin:50px;
	margin-left: 100px;
	margin-right:100px;
	border: solid 10px purple;
	border-radius: 100px;	
	box-shadow:10px 10px brown, 20px 20px blue, 30px 30px pink, 40px 40px green;
	font-size:40px;
}
}
#Palma{
	width: 400px !important;
	margin-right: 100px;


}
.JD {
	width: 600px !important;
	margin-left: 100px;

}
#It{
	width:1000px !important;
}
#AHA
	{width:1000px !important;
}
.coco{
	font-size: 100px !important;
	color :purple !important;
}
.my-yellow {
	background-color: yellow;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	
}
.my-blue {
	background-color: blue;
	width: 50px;
	height: 50px;
}
.my-orange{
	background-color: orange;
	width: 50px;
	height: 50px;
	position: absolute;
}